@font-face {
    font-family: 'Melted-Monster';
    src: url('../fonts/Melted-Monster.ttf') format('truetype');
}

@font-face {
    font-family: 'acumin-extra-condensed';
    src: url('../fonts/acumin-extra-condensed.otf') format('opentype');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-shadow: none;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    color: white;
}

header {
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 300px;
    background-color: black;
    width: 590px;
    height: 50px;
}

nav a {
    position: relative;
    font-family: 'acumin-extra-condensed', 'Poppins-Light', Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 0 10px;
}

nav a::after {
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a:hover::after {
    width: 100%;
}


body {
    height: 100vh;
    background-color: black;
}

.first-section {
    display: flex;
    align-items: center; 
    margin: 20px; 
}

.first-section img {
    width: 50%;
}

.first-section h1 {
    color: #D91818;
    font-family: 'Melted-Monster', sans-serif;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

.first-section p {
    font-family: 'acumin-extra-condensed', 'Poppins-Light', Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}


